<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Gotta Go</title>


<link rel="stylesheet" type="text/css" href="../../public/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.css">
<style>
	body {

	}

	footer.footer.is-info {
		position: fixed;
		bottom: 0;
		height: 50px;
		width: 100%;
		padding: 0;
		text-align: center;
	}

	div.tabs {
		margin: 0;
	}

	.tabs:not(:last-child) {
	    margin-bottom: 1rem;
	}

	div button img.gm-fullscreen-control {
		overflow: hidden;
	}
</style>