<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand is-centered">
    <a class="navbar-item" href="/landing_map">
      <img src="./img/transp-gotta-go.png" alt="Gotta Go">
    </a>
    <div class="navbar-burger burger" data-target="navbarStuff">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navbarStuff" class="navbar-menu">
    <div class="navbar-start">
      <a href="/landing_list" class="navbar-item">
        <h5><i class="fa fa-search"></i>&nbspWhat's nearby</h5>
      </a>
    </div>
    <div class="navbar-item">
      <a href="/addRestroom">
        <h5><i class="fa fa-plus"></i>&nbspAdd a Loo</h5>
      </a>
    </div>
    <div class="navbar-end">
      <a href="/account" class="navbar-item">
        <h5><i class="fa fa-user-circle"></i>&nbspAccount Info</h5>
      </a>
    </div>
  </div>
</nav>
