<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/landing_map">
      <img src="" alt="Brand Logo">
    </a>
    <div class="navbar-burger burger" data-target="navbarStuff">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navbarStuff" class="navbar-menu">
    <div class="navbar-start">
      <a href="/landing" class="navbar-item">
        <i class="fa fa-search"></i>
      </a>
    </div>
    <div class="navbar-item">
      <a href="/addRestroom" class="navbar-item">
        <i class="fa fa-plus"></i>
      </a>
    </div>
    <div class="navbar-end">
      <a href="/account" class="navbar-item">
        <i class="fa fa-user-circle"></i>
      </a>
    </div>
  </div>
</nav>
