<div class="tile is-parent is-warning">
  <article class="tile is-4">
    <p>image goes here</p>
  </article>
  <article class="tile is-8">
    <p>Title</p>
    <a href="#">link to googlemap</a>
    <ul>
      <li>detail 1 about place</li>
      <li>detail 2 about place</li>
    </ul>
  </article>
</div>
