
  <div id="location-name" class="title is-5">
   <%= list[i].dataValues.name %>

  </div>
  <div id="distance" class="subtitle is-6">
   distance: <span id="milage"> <% include ../partials/distance.ejs %></span>
  </div>
  <div id="address" class="subtitle is-6">
   <a href=""><%= list[i].dataValues.location %></a>
  </div>
  <div id="category" class="subtitle is-5">
   <h6>category: <span>
     <% switch (list[i].dataValues.category) {
       case 0: %>

       Gas Station
       <% break; %>
       <% case 1: %>
       Restaurant
       <% break; %>
       <% default: %>
       Other
     <% } %>


   </span></h6>
  </div>

  <nav class="level is-mobile">
    <div class="level-left">
      <a class="level-item">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-half-o" aria-hidden="true"></i>
      </a>
      <a class="level-item">
        <span class="icon is-small"><i class="fa fa-comments" aria-hidden="true"></i></span>
      </a>
      <a class="level-item">
        <span class="icon is-small"><i class="fa fa-thumbs-o-up"></i></span>
      </a>
      <a class="level-item">
        <span class="icon is-small"><i class="fa fa-thumbs-o-down"></i></span>
      </a>
    </div>
  </nav>
    