<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <script src="./js/add-restroom.js" type="text/javascript"></script>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <div class="columns">
      <div id="title" class="column has-text-centered">
        <div class="">
          <h2>ADD NEW LOCATION</h2>
        </div>
      </div>
    </div>

    <form name="form1" method="POST" action="/api/new/restroom">
    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">LOCATION NAME</label>
          <div class="control">
            <input id="location-name" class="input" type="text" placeholder="eg. park, cafe">
          </div>
          <label class="label">ADDRESS</label>
          <div class="control">
            <input id="address" class="input" type="address" placeholder="eg. 1995 University Ave, Berkeley, CA, 94704">
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <div class="control">
            <label class="label">SELECT CATEGORY</label>
            <label class="radio">
              <input type="radio" name="question">
              Gas Station
            </label>
            <label class="radio">
              <input type="radio" name="question">
              Restaurant
            </label>
            <label class="radio">
              <input type="radio" name="question">
              Other
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">ADD COMMENT</label>
          <p>optional</p>
          <div class="control">
            <textarea id="comment" class="textarea" placeholder="Textarea"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <div  class="control">
            <button class="button" id="sumbit" type="submit" method="POST">SUBMIT</button>
          </div>
        </div>
      </div>
    </div>
  </form>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
