<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <section class="block">
      <div class="columns is-centered">
          <div class="column is-one-third">
            <a class="button" href="/landing">Sign in</a>
            <a class="button" href="#">Sign Up</a>
          </div>
      </div>
    </section>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
