<!-- sign in/sign up page -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    </head>
  <body>
    <!-- DB: I'm going to take out the header for now on this page -->
  <!--  <header>
      <% include ../partials/header %>
    </header> -->
    <section class="block">
      <div class="columns is-centered">
          <div class="column is-one-third">
            <a class="button" href="/login">Log in</a>
            <a class="button" href="/signup">Sign Up</a>
            <a class="button" href="/landing">Just use it</a>
          </div>
      </div>
    </section>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
