<!-- sign in -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
      <style>
        #map {
          height: 600px;
          width: 100%;
        }

        html, body {
          background-color: #f9fafb;
        }

        nav.navbar.is-info {
          background-color: #343377;
        }

        span {
          color: #343377;
        }
      </style>
    </header>
    <div class="tabs is-toggle is-fullwidth">
      <ul>
        <li class="">
          <a href="/landing_map">
            <span class="icon is-small"><i class="fa fa-map"></i></span>
            <span>Map View</span>
          </a>
        </li>
        <li>
          <a href="/landing_list">
            <span class="icon is-small"><i class="fa fa-list"></i></span>
            <span>List View</span>
          </a>
        </li>
      </ul>
    </div> 
    <section>
      <div class="tile is-ancestor">
        <div id="map">
          <% include ../partials/map %> 
        </div>
        
      </div>
    </section>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
