<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <!-- <script>
      $(function() {
        getLocation(function(lat, lng) {
          axios.get("http://localhost:8080/api/landing_list")
          .then(function(data) {
            $('.address-link').each(function() {
              getDistance($(this).html(), lat, lng, $(this));
            });
          })
          .catch(function(error) {
            if(error) throw error;
          });
        });
      });
    </script> -->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <% include ../partials/header %>
      </header>

        <div class="tabs is-toggle is-fullwidth">
          <ul>
            <li>
              <a class="view" href="/landing_map">
                <span class="icon is-small"><i class="fa fa-map"></i></span>
                <span>Map</span>
              </a>
            </li>
            <li>
              <a class="view" href="/landing_list">
                <span class="icon is-small"><i class="fa fa-list"></i></span>
                <span>List</span>
              </a>
            </li>
          </ul>
        </div>
        
          <div class="content">
            <% include ../partials/distance.ejs %>
              <div id="title" class="box">
                <% for (var i = 0; i < list.length; i++) { %>
                  <article class="pcard" data-card="<%= list[i].dataValues.id %>">
                    <% include ../partials/placecard %>
                  </article>
                <% } %>
              </div>
          </div>

      <footer>
        <% include ../partials/footer %>
      </footer>
    <script src="./js/landing-list.js" type="text/javascript"></script>

  </body>
</html>
