<!-- sign in -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
      <style>
        #map {
          height: 500px;
          width: 100%;
        }
      </style>
    </header>
    <section>
      <div class="tile is-ancestor">
        <a class="button" href="/landing_map" attr="active">Map View</a>
        <a class="button" href="/landing_list">List View</a>
       <!--  <% include ../partials/placecard %>
        <% include ../partials/placecard %>
        <% include ../partials/placecard %> -->
        <div id="map">
          <% include ../partials/map %> 
        </div>
        
      </div>
    </section>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
