<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <style>

      html, body {
        background-color: #f9fafb;
      }

      .columns {
        margin: 0;
      }

      .column {
        padding-bottom: 0;
        padding-top: 0;
        padding-left: 40px;
        padding-right: 40px;
      }

      .input {
        margin-bottom: 10px;
      }

      .button {
        margin-top: 10px;
        padding: 10px 60px;
        background-color: #343377;
        color: #ffffff;
        font-weight: 700;
      }
      
      input.input {
        max-width: 500px;
      }

      #title {
        padding: 40px;
      }

      h1 {
        font-size: 2em;
        color: #343377;
      }
      nav.navbar.is-info {
        background-color: #343377;
      }

      label.label {
        color: #343377;
      }

    </style>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="columns">
      <div id="title" class="column has-text-centered">
        <div class="">
          <h1>WELCOME BACK!</h1>
        </div>
      </div>
    </div>
   
    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input id="username" class="input" type="text" placeholder="your username">
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input id="password" class="input" type="password" placeholder="enter password">
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <div id="sumbit" class="control">
            <a class="button" type="submit" method="PUT">Log in</a>
          </div>
        </div>
      </div>
    </div>
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
