<!DOCTYPE html>

<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <section class="block">
      <div class="columns is-centered">
          <div class="column is-one-third">
            <form class="" action="/api/signup" method="post">
              <label for="newUser">Desired Username</label>
              <input type="text" name="newUser" id="newUser">
              <label for="newPass">Password</label>
              <input type="text" name="newPass" id="newPass">
              <button type="submit" id="signup-subm"><a href="/landing">Submit</a></button>
            </form>
          </div>
      </div>
    </section>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
