<!-- PLACEHOLDER CODE -->

<html>
  <head>
    <title>Gotta Go! - Your account</title>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <section class="block">
      <div class="columns is-centered">
          <div class="column is-one-third">
            <input type='text' name='old-password' id='old-password'>
            <a class="button" href="/account">Confirm</a>
          </div>
      </div>
    </section>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
